<ion-header>
  <ion-toolbar>
    <ion-title>
      Payment Managment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="ion-padding">
        Keep track on your regular payments by adding here where your money fly. <span style="color: darkgoldenrod;" (click)=howToAlert() >?</span>
      </div>
    </ion-row>
    <ion-row>
      <div class="ion-padding" *ngFor="let payment of payments; let i = index">
        <ion-card (click)=cardOptions(payment,i) col-12>
          <ion-card-header> {{payment.title}} </ion-card-header>
          <ion-card-content>
            <ion-avatar>
              <img style="margin-left: 15px;" src="https://cdn4.iconfinder.com/data/icons/blue-line-business/64/investment-512.png" alt="">
            </ion-avatar>
            <h2> Gasto de: ${{payment.amount}} </h2>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-row>
    <ion-row>
      <ion-col col-9 > <h2>Outcome Total:</h2></ion-col>
      <ion-col col-3 >  <h1> $ {{total}} </h1> </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-fab>
        <ion-fab-button style="margin-top: -2em; margin-left: 3em;;" color="secondary" (click)=addPayment()>+</ion-fab-button>
      </ion-fab>
  </ion-toolbar>  
</ion-footer>